# Built with https://github.com/tsc/spawn
configs/logs.json
dist/

# Create cosmos app
web/

.vscode
build/

# Windows null device artifact created by bash misinterpreting CMD-style redirects
NUL

lockup-test/

.claude/